

html, body {
	font-size: 14px;
	height: 100%;
}
h1 {
	font-size: 24px;
	font-weight: 700;
}
h3 {
	font-size: 20px;
}
img {
	max-width: 100%;
}
#wrapper {
	height: 100%;
}
.row img {
	padding-bottom: 20px;
}
#sidebar-wrapper {
	background: #fafafa;
	border-right: 1px solid rgba(0,0,0,.07);
}
.sidebar-brand {
	padding: 20px;
	border-bottom: 1px solid rgba(0,0,0,.07);
	margin-bottom: 20px;
}
.sidebar-nav>li>a, .sidebar-nav>li>ul>li>a {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #364149;
	text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap;
}
.sidebar-nav>li>a:hover, .sidebar-nav>li>ul>li>a:hover {
	text-decoration: underline;
}
.sidebar-nav>li>ul>li>a {
	list-style-type: none;
	margin-left: -10px;
}
.sidebar-nav li .active2, .sidebar-nav .active {
	font-weight: 700;
	background-color: white;
}
#menu-toggle {
	color: #E6E6E6;
	position: relative;
    top: -8px;
}
@media (max-width: 992px) { 
	#menu-toggle {
		margin-right: 15px;
	}
}
#page-content-wrapper {
	background-image: url('../images/geometry.gif');
	min-height: 100%;
}

.navbar-default .navbar-text {
	color: #E6E6E6;
	font-size: 16px;
	font-weight: 700;
}
.hidden {
	display: none;
}
.side-footer {
	border-top: 1px solid rgba(0,0,0,.07);
	padding: 20px;
	margin-top: 20px;
}
.navbar-default {
    background-color: transparent; 
    border: none; 
}

.lang>a {
	color: #4d4d4d;
	text-transform: capitalize;
}
.meta-col {
}
.backimg {
	width: 100%;
	height: 150px;
	background-size: cover;
	background-position: center center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px; 
	background-color: #E6E6E6;
	border: 1px solid #e6e6e6;
}
.card-meta {
	padding: 15px;
	background-color: white;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border: 1px solid #e6e6e6;
}
