

html, body {
	font-size: 14px;
	height: 100%;
}
h1 {
	font-size: 34px;
	font-weight: 300;
}
h3 {
	font-size: 20px;
}
img {
	max-width: 100%;
}
.smb {
	margin-bottom: 15px; 
}
.mb {
	margin-bottom: 50px;
}
.bmb {
	margin-bottom: 75px;
}
.spb {
	padding-bottom: 15px;
}
.pb {
	padding-bottom: 50px; 
}
.bpb {
	padding-bottom: 75px; 
}
.spt {
	padding-top: 15px;
}
.center {
	text-align: center;
}
#wrapper {
	height: 100%;
}
.row img {
	margin-bottom: 20px;
}
#sidebar-wrapper {
	background: #fafafa;
	border-right: 1px solid rgba(0,0,0,.07);
}
.sidebar-brand {
	padding: 20px;
	border-bottom: 1px solid rgba(0,0,0,.07);
	margin-bottom: 20px;
}
.sidebar-nav>li>a, .sidebar-nav>li>ul>li>a {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #364149;
	text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap;
}
.sidebar-nav>li>a:hover, .sidebar-nav>li>ul>li>a:hover {
	text-decoration: underline;
}
.sidebar-nav>li>ul>li>a {
	list-style-type: none;
	margin-left: -10px;
}
.sidebar-nav li .active2, .sidebar-nav .active {
	font-weight: 700;
	background-color: white;
}
#menu-toggle {
	color: #E6E6E6;
	position: relative;
    top: -8px;
}
@media (max-width: 992px) { 
	#menu-toggle {
		margin-right: 15px;
	}
}
#page-content-wrapper {
	background-image: url('../images/geometry.gif');
	min-height: 100%;
}

.navbar-default .navbar-text {
	color: #E6E6E6;
	font-size: 16px;
	font-weight: 700;
}
.hidden {
	display: none;
}
.side-footer {
	border-top: 1px solid rgba(0,0,0,.07);
	padding: 20px;
	margin-top: 20px;
}

.navbar-default {
    background-color: transparent; 
    border: none; 
}

.lang>a {
	color: #4d4d4d;
	text-transform: capitalize;
}
.tab-pane h1 {
	font-size: 24px !important;
}
.tab-pane h2 {
	font-size: 22px !important;
}
.tab-pane h3 {
	font-size: 18px !important;
}


/* Card */
.backimg {
	width: 100%;
	height: 150px;
	background-size: cover;
	background-position: center center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px; 
	background-color: #E6E6E6;
	border: 1px solid #e6e6e6;
	margin-top: 15px; 
	position: relative;
}
.card-meta-mini {
	width: 100%; 
	position: absolute;
	bottom: 0px;
	padding: 5px;
	text-align: right;
	color: black;
	background-color: rgba(255,255,255,0.5);
}
.card-meta {
	padding: 15px;
	background-color: white;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border: 1px solid #e6e6e6;
	margin-bottom: 15px;
}

/* Book card */
.book {
	position: relative;
	margin-bottom: 15px;
}
.book-img {
	height: 200px;
	border-bottom: solid 1px #e6e6e6;
	overflow: hidden;
	text-align: center;
}
.book-cover {
	margin-top: 15px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	box-shadow: 0px 0px 20px #efefef;
}
.free {
	position: absolute;
	top: 50px;	
	left: 15%;
	background-color: yellow;
	padding: 10px;
}

/* Project page */
.header-image {
	border-bottom: solid 10px #7AC943;
}
.workshop-text {
	background-color: white;
	border: solid 1.5px #e6e6e6;
	border-top: none;
	padding: 15px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	font-size: 1.1em;
}
.meta-col {

}
